<nav class="mainNav navbar navbar-expand-md navbar-dark bg-dark flex-column">
  <div class="w-100 d-flex">
      <a class="navbar-brand navbar-center mx-md-auto mx-auto d-block" href="#">
          <img src="img/logo.png" alt="Logo" height="80px" width="auto">
      </a>
      <button class="navbar-toggle visible ml-auto order-first " type="button" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="navbar-toggler-icon"></span>
      </button>
      
  </div>
  <div class="collapse navbar-collapse">
      <ul class="navbar-nav text-center">
          <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
          </li>
      </ul>
      <div class="collapse navbar-collapse float-right ">
        
        </div>
  </div>
</nav>









   
     

    
  
  